AddDefaultCharset utf-8
Options +FollowSymLinks
Options -Indexes

RewriteEngine on
RewriteCond %{HTTP_HOST} ^dah-sl [NC,OR]
RewriteCond %{HTTP_HOST} ^www.dah-sl$
RewriteCond %{REQUEST_URI} !public/
RewriteRule (.*) /public/$1 [L]
